.git
.gitignore
.bundle/
log/*
tmp/*
storage/*
node_modules/
spec/
test/
features/
*.swp
*.bak
*.old
.DS_Store/
Thumbs.db
docker-compose.yml
db/*.sqlite3
config/database.yml
config/secrets.yml
images/
