.vscode
.bundle
.git
.gitignore
.bundle/
log/*
tmp/*
storage/*
node_modules/
!node_modules/i18n-js/dist/browser/
spec/
test/
features/
*.swp
*.bak
*.old
.DS_Store/
Thumbs.db
docker-compose.yml*
db/*.sqlite3
config/database.yml
config/secrets.yml
data/
