#book{data: @book.attributes.merge(@page.attributes)}
  = link_to(image_tag('arrow_left.svg'), @page.previous.path, {class: 'arrow page left'})
  = image_tag(@page.image_file, {class: 'page', alt: "Seite #{@page.number}"})
  = link_to(image_tag('arrow_right.svg'), @page.next.path, {class: 'arrow page right'})
