/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#books {
  width: 100%;
  margin: 2em 0 0 0;
}

#book {
  display: table;
  margin: 0 auto;
}

#book .page {
  display: table-cell;
}

#book .arrow {
  width: 5em;
  background-color: #ccc;
  vertical-align: middle;
  text-align: center;
}

#book #current_page img {
  width: 60em;
}

#book .arrow img {
  width: 3.5em;
}

header a {
  position: absolute;
  left: 1em;
}

header form label {
  display: none;
}

header form input,
header form button {
  position: absolute
}

header form input {
  top: .375em;
  right: 4.75em;
  font-size: 1.4em;
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 10em;
  padding: .03em .25em;
}

header form button {
  top: .5em;
  right: 1em;
}
