header
  .container
    width: 100%
    white-space: nowrap !important
    #quicknav
      display: inline-block
    #search_history
      padding-left: 1em
      display: inline-block
      overflow: hidden
      text-overflow: ellipsis
      width: 75%
      height: 3em
      font-family: 'Times New Roman', serif
      font-size: 12pt
      a
        color: #428BCA !important
        padding-left: 15px
  .navbar-search-form
    background-color: #F8F8F8
    display: block
    z-index: 1000
    float: right
    width: 22em
    height: 100%
    position: absolute
    right: 0
    top: 0
  form
    label
      display: none
    input, button
      position: absolute
    input
      top: .65em
      right: 5.5em
      height: 2.55em
      unicode-bidi: bidi-override
      direction: auto
      width: 10em
      padding: 0 1em 0 .55em
      font-size: 1em
      font-family: 'Tahoma', sans-serif, 'Arial', 'Times New Roman', serif
    button
      top: .7em
      right: 1em
