body
  background-color: #eee
main
  min-width: 76em
#book
  #page
    display: table
    margin: 2em auto 0 auto
    .page
      display: table-cell
    .arrow
      width: 5em
      min-width: 5em
      background-color: #ccc
      vertical-align: middle
      text-align: center
    img.page
      width: 60em
    a img
      width: 3.5em
