body
  background-color: #eee
main
  min-width: 76em
#page
  display: table
  margin: 6em auto 2.5em auto
  .wrapper
    min-height: 85em
    background-color: #fff
  .page
    display: table-cell
  .arrow
    width: 60px
    min-width: 60px
    vertical-align: middle
    text-align: center
    background-color: #CCC
    transition: all 0.25s linear
    &.left
      background-image: url(arrowleft_background_gradient.png)
    &.right
    background-image: url(arrowright_background_gradient.png)
  .arrow:hover
    background-color: #6FA6D5
    transition: all 0.25s linear
  img.page
    width: 60em
    padding: 1em
  a img
    width: 3.5em
