#sidebar
  margin-top: 5.9em
  width: 19.5em
  background-color: #F8F8F8
  position: absolute
  left: 0
  top: 0 
  border-top: 1px solid #CCC
  border-right: 1px solid #CCC
  border-bottom: 1px solid #CCC
  .flap
    font-size: 1em
    padding: 1.25em 0 0 .75em
    min-height: 10.25em
  .flap,
  .flap span
    background-color: #428BCA
  .extruder-content,
  .text
    background-color: #F8F8F8
    color: #428BCA
    text-shadow: none
  .extruder-content
    border-top: 1px solid #CCC
    border-right: 3px solid #CCC
    border-bottom: 1px solid #CCC
  .text
    border: none
  button
    float: right
    margin: 0 1em 1em 0
  ul
    padding: 1em 1.5em
    overflow: hidden
    label
      cursor: pointer
      font-weight: normal
      font-size: 80%
    li
      list-style-type: none
      white-space: nowrap
      padding: .45em 0
      border-bottom: 1px solid #eee
      input[type=radio]
        vertical-align: middle
        margin: -7px 0 0 .25em
      label
        text-overflow: ellipsis
        overflow: hidden
        display: inline-block
        width: 235px
      &:last-child
        border-bottom: none
  .extruder-content
    .text
      padding: .75em 0 .75em .5em
    height: 32.5em !important
    ul
      padding: 0
      margin: 0
    button
      display: none
